[user]
    name = {{ .git.personal.name | quote }}
    email = {{ .git.personal.email | quote }}
    signingkey = {{ .git.personal.signingkey | quote }}

[commit]
    gpgsign = true
[gpg]
    format = ssh
