[user]
    name = {{ .git.work.name | quote }}
    email = {{ .git.work.email | quote }}
    signingkey = {{ .git.work.signingkey | quote }}

[commit]
    gpgsign = true
[gpg]
    format = ssh

[url "git@github.com:"]
    insteadOf = https://github.com/

[url "git@github-aguil:aguil/"]
    insteadOf = git@github.com:aguil/
[url "git@github-aguil:aguil/"]
    insteadOf = https://github.com/aguil/
[url "git@github-aguil:aguil/"]
    insteadOf = ssh://git@github.com/aguil/
