BREW_BIN=""
if [ -x "/opt/homebrew/bin/brew" ]; then
    BREW_BIN="/opt/homebrew/bin/brew"
elif [ -x "/usr/local/bin/brew" ]; then
    BREW_BIN="/usr/local/bin/brew"
elif command -v brew >/dev/null 2>&1; then
    BREW_BIN="$(command -v brew)"
fi

if [ -n "$BREW_BIN" ]; then
    eval "$("$BREW_BIN" shellenv)"
    BREW_PREFIX="$("$BREW_BIN" --prefix)"

    if [ -d "$BREW_PREFIX/opt/coreutils/libexec/gnubin" ]; then
        PATH="$BREW_PREFIX/opt/coreutils/libexec/gnubin:${PATH}"
    fi
fi

path_prepend() {
    [ -n "$1" ] || return
    case ":$PATH:" in
        *":$1:"*) ;;
        *) PATH="$1${PATH:+:$PATH}" ;;
    esac
}

path_append() {
    [ -n "$1" ] || return
    case ":$PATH:" in
        *":$1:"*) ;;
        *) PATH="${PATH:+$PATH:}$1" ;;
    esac
}

path_dedupe() {
    local new_path=""
    local path_entry
    local IFS=':'

    for path_entry in $PATH; do
        [ -n "$path_entry" ] || continue
        case ":$new_path:" in
            *":$path_entry:"*) ;;
            *) new_path="${new_path:+$new_path:}$path_entry" ;;
        esac
    done

    PATH="$new_path"
}

path_prepend "/usr/sbin"
path_prepend "/usr/bin"
path_prepend "/usr/local/sbin"
path_prepend "/usr/local/bin"

# dart-lang's pub installs executables here
path_append "$HOME/.pub-cache/bin"

path_append "$HOME/.girpl/bin"

# Go configuration for go modules
export GO111MODULE="auto"  # this may or may not have to be set, or can be set to "auto"

if [ -z "${GOROOT:-}" ]; then
    for goroot_candidate in /usr/lib/go-*; do
        if [ -x "$goroot_candidate/bin/go" ]; then
            GOROOT="$goroot_candidate"
        fi
    done
    unset goroot_candidate
fi

if [ -n "${GOROOT:-}" ] && [ -x "$GOROOT/bin/go" ]; then
    path_prepend "$GOROOT/bin"
fi

export DART_FLAGS="--checked --load_deferred_eagerly"
export DARTIUM_EXPIRATION_TIME=1577836800
export GOPATH=$HOME/code/gopath
path_append "$GOPATH/bin"
export GOPRIVATE=github.com/Workiva
path_append "/usr/local/bin/nimrod/bin"

{{- if eq .chezmoi.os "darwin" }}
path_prepend "$(/usr/libexec/java_home -v 11 2>/dev/null)/bin"
path_append "/usr/local/texlive/2021basic/bin/universal-darwin"
{{- end }}

{{- if eq .profile "work" }}
if [ -z "$INTELLIJ_ENVIRONMENT_READER" ]; then
  source ~/.wk/profile
fi
{{- end }}

path_append "$HOME/.local/bin"

{{- if eq .profile "personal" }}
path_append "$HOME/.opencode/bin"
{{- end }}

if [ -z "$INTELLIJ_ENVIRONMENT_READER" ]; then
    . $HOME/.asdf/asdf.sh
fi

# HACK: to get conda 4.7.5 working again
# Which broke after upgrading from 4.5.11 using:
#  conda update -n base conda
#
# from https://github.com/conda/conda/issues/8867#issuecomment-508820119:
# brew install libarchive then set LIBARCHIVE.
if [ -n "${BREW_PREFIX:-}" ] && [ -f "$BREW_PREFIX/opt/libarchive/lib/libarchive.13.dylib" ]; then
    export LIBARCHIVE="$BREW_PREFIX/opt/libarchive/lib/libarchive.13.dylib"
fi


# alias to enable some dev commands that are still using the pub command.
alias pub='dart pub'
alias dart2js='dart compile js'

# bash completions
if command -v brew >/dev/null 2>&1; then
    [[ -r "$(brew --prefix)/etc/profile.d/bash_completion.sh" ]] && . "$(brew --prefix)/etc/profile.d/bash_completion.sh"
fi

if [ -f ~/.git-completion.bash ]; then
  . ~/.git-completion.bash
fi

source ~/.tig-completion.bash

if [ -z "$INTELLIJ_ENVIRONMENT_READER" ]; then
    if [ -n "${BREW_PREFIX:-}" ] && [ -f "$BREW_PREFIX/Caskroom/google-cloud-sdk/latest/google-cloud-sdk/path.bash.inc" ]; then
        source "$BREW_PREFIX/Caskroom/google-cloud-sdk/latest/google-cloud-sdk/path.bash.inc"
    fi
    if [ -n "${BREW_PREFIX:-}" ] && [ -f "$BREW_PREFIX/Caskroom/google-cloud-sdk/latest/google-cloud-sdk/completion.bash.inc" ]; then
        source "$BREW_PREFIX/Caskroom/google-cloud-sdk/latest/google-cloud-sdk/completion.bash.inc"
    fi
fi

if command -v locale >/dev/null 2>&1 && locale -a 2>/dev/null | grep -qi '^en_US\.utf\-\?8$'; then
    LANG="en_US.UTF-8"
    LC_COLLATE="en_US.UTF-8"
    LC_CTYPE="en_US.UTF-8"
    LC_MESSAGES="en_US.UTF-8"
    LC_MONETARY="en_US.UTF-8"
    LC_NUMERIC="en_US.UTF-8"
    LC_TIME="en_US.UTF-8"
    LC_ALL="en_US.UTF-8"
elif command -v locale >/dev/null 2>&1 && locale -a 2>/dev/null | grep -qi '^C\.UTF\-\?8$'; then
    LANG="C.UTF-8"
    LC_ALL="C.UTF-8"
fi

# Git and SVN
if [ -z "$INTELLIJ_ENVIRONMENT_READER" ]; then
    export EDITOR='vim -f'

    git config --global color.ui true
fi

# Maven
export MAVEN_OPTS="-Xmx4096m -Xss1024m"

# Ant
export ANT_OPTS="-Xms512m -Xmx1024m"
ant () { command ant  -logger org.apache.tools.ant.listener.AnsiColorLogger "$@" | sed 's/2;//g' ; }

# todo.txt
export TODOTXT_DEFAULT_ACTION=ls
if [ -n "${BREW_PREFIX:-}" ] && [ -f "$BREW_PREFIX/etc/bash_completion.d/todo_completion" ]; then
    source "$BREW_PREFIX/etc/bash_completion.d/todo_completion"
fi
alias todo='todo.sh -a'
if [ -z "$INTELLIJ_ENVIRONMENT_READER" ]; then
    complete -F _todo todo
fi

# Only load Liquid Prompt in interactive shells, not from a script or from scp
# https://github.com/nojhan/liquidprompt
if [ -z "$INTELLIJ_ENVIRONMENT_READER" ]; then
    if [ -n "${BREW_PREFIX:-}" ] && [ -f "$BREW_PREFIX/share/liquidprompt" ]; then
        . "$BREW_PREFIX/share/liquidprompt"
    fi
fi

[ -r ~/.extra ] && source ~/.extra

# nvm, for node version management
export NVM_DIR="$HOME/.nvm"
if [ -z "$INTELLIJ_ENVIRONMENT_READER" ]; then
    [ -s "$NVM_DIR/nvm.sh" ] && \. "$NVM_DIR/nvm.sh"  # This loads nvm
    [ -s "$NVM_DIR/bash_completion" ] && \. "$NVM_DIR/bash_completion"  # This loads nvm bash_completion
fi

# >>> conda initialize >>>
# !! Contents within this block are managed by 'conda init' !!
if [ -x "$HOME/miniforge3/bin/conda" ]; then
    __conda_setup="$("$HOME/miniforge3/bin/conda" 'shell.bash' 'hook' 2> /dev/null)"
    if [ $? -eq 0 ]; then
        eval "$__conda_setup"
    else
        if [ -f "$HOME/miniforge3/etc/profile.d/conda.sh" ]; then
            . "$HOME/miniforge3/etc/profile.d/conda.sh"
        else
            export PATH="$HOME/miniforge3/bin:$PATH"
        fi
    fi
fi
unset __conda_setup
# <<< conda initialize <<<

if [ -z "$INTELLIJ_ENVIRONMENT_READER" ]; then
    if command -v conda >/dev/null 2>&1; then
        conda activate
    fi
fi

# Added by Toolbox App
path_append "/usr/local/bin"

if [ -n "${BREW_PREFIX:-}" ] && [ -d "$BREW_PREFIX/opt/mysql-client/bin" ]; then
    path_prepend "$BREW_PREFIX/opt/mysql-client/bin"
fi

path_dedupe
export PATH
