{{- $dotfilesGitDir := "~/projects/dotfiles/" -}}
{{- $chezmoiSourceDir := trimSuffix "/" .chezmoi.sourceDir -}}
{{- $chezmoiSourceGitDir := printf "%s/" $chezmoiSourceDir -}}
{{- $kdiff3Cmd := `kdiff3 "$LOCAL" "$REMOTE"` -}}
{{- $p4mergeCmd := `p4merge "$BASE" "$LOCAL" "$REMOTE" "$MERGED"` -}}
{{- if hasPrefix .chezmoi.homeDir .chezmoi.sourceDir -}}
{{- $chezmoiSourceGitDir = printf "%s/" (replace .chezmoi.homeDir "~" $chezmoiSourceDir) -}}
{{- end -}}
{{- if eq .chezmoi.os "darwin" -}}
{{- $kdiff3Cmd = `test -x "/Applications/kdiff3.app/Contents/MacOS/kdiff3" && "/Applications/kdiff3.app/Contents/MacOS/kdiff3" "$LOCAL" "$REMOTE" || kdiff3 "$LOCAL" "$REMOTE"` -}}
{{- $p4mergeCmd = `test -x "/Applications/p4merge.app/Contents/Resources/launchp4merge" && "/Applications/p4merge.app/Contents/Resources/launchp4merge" "$BASE" "$LOCAL" "$REMOTE" "$MERGED" || ( test -x "/Applications/p4merge.app/Contents/MacOS/p4merge" && "/Applications/p4merge.app/Contents/MacOS/p4merge" "$BASE" "$LOCAL" "$REMOTE" "$MERGED" || p4merge "$BASE" "$LOCAL" "$REMOTE" "$MERGED" )` -}}
{{- end -}}
[alias]
    st = status
    ci = commit
    br = branch
    co = checkout
    diffc = diff --cached
    ls = log --pretty=format:"%C(yellow)%h%Cred%d\\ %Creset%s%Cblue\\ [%an]" --decorate
    ll = log --pretty=format:"%C(yellow)%h%Cred%d\\ %Creset%s%Cblue\\ [%an]" --decorate --numstat
    lnc = log --pretty=format:"%h\\ %s\\ [%an]"
    lds = log --pretty=format:"%C(yellow)%h\\ %ad%Cred%d\\ %Creset%s%Cblue\\ [%an]" --decorate --date=short
    ld = log --pretty=format:"%C(yellow)%h\\ %ad%Cred%d\\ %Creset%s%Cblue\\ [%an]" --decorate --date=relative
    switch = !legit switch "$@"
    branches = !legit branches
    sprout = !legit sprout "$@"
    unpublish = !legit unpublish "$@"
    harvest = !legit harvest "$@"
    sync = !legit sync "$@"
    publish = !legit publish "$@"
    graft = !legit graft "$@"
[branch]
    autosetupmerge = true
[color]
	ui = true
[color "branch"]
    current = yellow reverse
    local = yellow
    remote = green
[color "diff"]
    meta = yellow bold
    frag = magenta bold
    old = red bold
    new = green bold
[color "status"]
    added = yellow
    changed = green
    untracked = cyan
[core]
    excludesfile = ~/.gitignore_global
    editor = vim -f
    whitespace = trailing-space,space-before-tab
    quotepath = false
[difftool "kdiff3"]
    cmd = {{ $kdiff3Cmd }}
[init]
    templatedir = ~/.git_template
[merge]
    tool = p4merge
    keepBackup = false
[mergetool "p4merge"]
    cmd = {{ $p4mergeCmd }}
    keepTemporaries = false
    trustExitCode = false
    keepBackup = false
[rerere]
    enabled = true
[gpg]
    format = ssh
[gpg "ssh"]
    allowedSignersFile = ~/.ssh/allowed_signers
{{- if eq .chezmoi.os "darwin" }}
[gpg "ssh"]
    program = /Applications/1Password.app/Contents/MacOS/op-ssh-sign
{{- end }}
[commit]
    gpgsign = true
[filter "lfs"]
    clean = git-lfs clean -- %f
    smudge = git-lfs smudge -- %f
    process = git-lfs filter-process
    required = true
{{- if eq .chezmoi.os "darwin" }}
[credential]
    helper = osxkeychain
{{- else if and (eq .chezmoi.os "linux") (ne (env "WSL_DISTRO_NAME") "") }}
[core]
    sshCommand = /mnt/c/Windows/System32/OpenSSH/ssh.exe
[gpg "ssh"]
    program = /mnt/c/Windows/System32/OpenSSH/ssh-keygen.exe
[credential]
    helper = cache --timeout=7200
{{- else if eq .chezmoi.os "windows" }}
[core]
    sshCommand = C:/Windows/System32/OpenSSH/ssh.exe
[gpg "ssh"]
    program = "C:/Program Files/1Password/app/8/op-ssh-sign.exe"
[credential]
    helper = manager
{{- else }}
[credential]
    helper = cache --timeout=7200
{{- end }}

[include]
    path = ~/.gitconfig-{{ .profile }}

[includeIf "gitdir:{{ $dotfilesGitDir }}"]
    path = ~/.gitconfig-personal
[includeIf "gitdir/i:{{ $dotfilesGitDir }}"]
    path = ~/.gitconfig-personal
[includeIf "gitdir:{{ $chezmoiSourceGitDir }}"]
    path = ~/.gitconfig-personal
[includeIf "gitdir/i:{{ $chezmoiSourceGitDir }}"]
    path = ~/.gitconfig-personal
