[user]
    name = {{ .git.work.name | quote }}
    email = {{ .git.work.email | quote }}
    signingkey = {{ .git.work.signingkey | quote }}

[commit]
    gpgsign = true
[gpg]
    format = ssh

[url "git@github.com:"]
    insteadOf = https://github.com/
