_auth = QUtDcDVlanh4VzlkVHJaeHBDa1czVWtVZ2VmWkxiNGZQZnl2YUdXcjEzUUt3alZUZW5QUHlkbUtxNm85dnhrOEN3cm5MZlRrTA==
registry = https://workivaeast.jfrog.io/workivaeast/api/npm/npm-prod/
email = jason.aguilon@workiva.com
always-auth = true
